<h1>Results</h1>
<%if (allrecs.length > 0) {%>
    <% allrecs.forEach((recref, index) => { %>
        <product>
            <form action="/catalog/add" method="post">
                <input type="hidden" name="product_id" value=<%= recref.product_id %> >
            <table>
                <tr> <td colspan="2"><%= recref.product_id %></td></tr>
                <tr> <td colspan="2"><%= recref.productname %></td></tr>
                <tr> <td colspan="2"><%= recref.prodimage %></td></tr>
                <tr> <td><%=recref.description %></td> </tr>
                <tr> <td><%= recref.ingredients%></td></tr>
                <tr> <td><%= recref.category_id %></td></tr>
                <tr> <td><%= recref.saleprice %></td></tr>
                <tr> <td><%= recref.status %></td></tr>
                <tr> <td><a href='/product/<%= recref.product_id%>/show'>Details</a></td></tr>
             
                <td>Quantity: <select name="qty" required>
                <select name="qty" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </td>
            <td><button type="submit" class="button1">Add to Cart</button></td>
            <tr>
        
            </table>
            </form>
        </product>
<% }); %>
</table>
<% } else { %>
    <p>Search criteria did not match any products. </p>
<% } %>